body{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: futura-pt, sans-serif;
}

div a {
    display: block;
    margin: 0 auto;
    color: #f2f2f2;
}

a{
    text-decoration: none;
}

.header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;

    background-color: slategray;
}

.homepage-link{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-left: 30px;
    width: 300px;
}

.page-links{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;

    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 1fr;
}

.subhead{
    font-size: 40px;
    font-weight: 700;
    color: #a87e9e;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.content{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 150px;
}

.project-1{
    display: grid;
    grid-template-columns: 630px 1fr;
    grid-template-rows: 388px;

    margin: auto;
}

.project-2{
    display: grid;
    grid-template-columns: 630px 1fr;
    grid-template-rows: 388px;

    margin: auto;
}

img{
    display: block;
    width: 630px;
    height: 388px;
}

.image{
    margin: auto;

    width: 800px;
    height: 500px;
}

.info{
    margin-top: 0;
}

.project-name{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #1E2349;
    padding-left: 30px;
}

.description{
    width: 450px;
    color: #1E2349;
    padding-left: 30px;
}