.navy{
    color: #1E2349;
}

.off-white{
    color: #F2F2F2;
}

.masthead{
    font-family: futura-pt, sans-serif;
    font-size: 300px;
    font-weight: 700;
    font-style: normal;
}

.homepage-link{
    font-family: futura-pt, sans-serif;
    font-size: 1000px;
    font-weight: 700;
    font-style: normal;
    color: #1E2349;
}

.homepage-links{
    font-family: futura-pt, sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #F2F2F2;
}

.page-links{
    font-family: futura-pt, sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #1E2349;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

h2{
    font-family: futura-pt, sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
    color: #1E2349;
}